h1 {
    font-size: 20x;
    border-color: black;
    border-width: 1px;
    border-style: dotted;
    text-align: center;
}

.container{
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}

.col-md-4{
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}

.col-md-2{
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}

.col-md-12{
    margin: 60px 60px 60px 60px;
}
.container{
    margin: 10px;
}

